<%- include('partials/header'); -%>

<header>
    <div class="headings">
        <h2>Family budget manager</h2>
        <h3>Family budget</h3>
        <a href="/" class="btn">Home</a>
    </div>
</header>


<%- include('partials/footer'); -%>